@font-face {
	font-family: 'Open Sauce Sans';
	src: url(../../assets/fonts/OpenSauceSans-SemiBold.woff2) format('woff2'),
	url(../../assets/fonts/OpenSauceSans-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}